# Generated data and heavy directories
Archives/
elmer_mesh/
saves/
wandb/
scripts/fem_cases/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
